{% extends 'base.html.twig' %}

{% block title %} {% endblock %}



{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/ListCompany.css') }}">
<div class="tm-header">
    <div class="container-fluid">
        <div  class="tm-header-inner">
            <a href="#" class="navbar-brand tm-site-name titleApp">Vanilla</a>

            <!-- navbar -->
            {{ include('menu.html.twig') }}

        </div>
    </div>
</div>
    </br>
<div class="container">
    <table class="table table-hover table-warning">
        <thead>
        <tr>
            <th>nomEntreprise</th>
            <th>villeEntreprise</th>
            <th>cpEntreprise</th>
            <th>adressseEntreprise</th>
            <th>mailEntreprise</th>
            <th>telEntreprise</th>
            <th>activiteEntreprise</th>


        </tr>
        </thead>
        <tbody>
        {% for i in listeEntreprises %}
            <tr>
                <td>{{  i.nomEntreprise }}</td>
                <td>{{  i.villeEntreprise}}</td>
                <td>{{  i.cpEntreprise }}</td>
                <td>{{  i.adressseEntreprise }}</td>
                <td>{{  i.mailEntreprise }}</td>
                <td>{{  i.telEntreprise }}</td>
                <td>{{  i.activiteEntreprise }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4"></td>
            <td>Total : 0</td>
        </tr>
        </tfoot>
    </table>
</div>
        {% endblock %}
