<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Vanilla{% endblock %}</title>
    {% block stylesheets %}
        <!-- Google web font "Open Sans" -->
        <link rel="stylesheet" href="{{ asset('assets/css/open_Sans.css') }}">
        <!-- Template style -->
        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-style.css') }}">
        <!-- Bootstrap style -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <!-- My css -->
        <link rel="stylesheet" href="{{ asset('assets/css/vanilla.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    {% endblock %}

    {% block navbar %}


    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}

    <!-- jQuery 1.11.3 old version -->
    <script src="{{ asset('assets/js/jquery-1.11.3.min.js') }}"></script>
    <!-- Bootstrap (http://v4-alpha.getbootstrap.com/) -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- js compact of template -->
    <script src="{{ asset('assets/js/tether.min.js') }}"></script>

    <script src="{{ asset('assets/js/vanilla.js') }}"></script>
    <script src="{{ asset('assets/js/RegFunctions.js') }}"></script>
{% endblock %}
</body>
</html>